.flexbox {
  display: flex;
  background: #212f3c;
  justify-content: space-evenly;
  height: 300px;
  padding: 30px 25px 15px 25px;
}
.flexchild {
  margin-bottom: 14px;
  color: #878787;
  font-weight: 400;
  font-size: 14px;
}
.list {
  color: #fff;
  display: block;
  font-weight: 400;
  font-size: 11px;
  line-height: 25px;
  text-decoration: none;
}

.para {
  color: #fff;
  font-weight: 400;
  font-size: 11px;
}
